columns=5
rows=3
button_spacing=10
button_radius=40
button_background=true
brightness=0.3
support_button_release_long_press=true

shell_command="sh"
shell_arguments=["-c"]

[[buttons]]
row=1
column=1
icon_text="󰍹"
icon_color="#aaa"
color="#000000"
button_press="~/rgb.sh 50"

[[buttons]]
row=1
column=2
icon_text="󱄄"
icon_color="#ffffff"
color="#000000"
button_press="~/rgb.sh 100"

[[buttons]]
row=2
column=1
icon_text="󰑊"
icon_color="#555"
color="#000000"
button_press="<|SAVE\n"
execute="~/.scripts/hackdeck/screenrecorder.sh --status"

[[buttons]]
row=2
column=2
color="#000000"
icon_color="#00cfe6"
icon_text=""
button_release="sudo chvt 1; asus-menu source dvi"

[[buttons]]
row=2
column=3
color="#1b2839"
icon_text=""
button_release="sudo chvt 2; asus-menu source hdmi"

[[buttons]]
row=2
column=4
color="#000000"
icon_text=""
button_release="<|mute:toggle\n"
button_long_press="<|deaf:toggle\n"
execute="hackdeck-discord"
interval=30

[[buttons]]
row=0
column=0
color="#000000"
icon_text=""
button_press="email"
execute="""
xxx() { u="$(notmuch count -- tag:unread and tag:inbox)"; i="$(notmuch count --  tag:inbox)"; if [[ $u != "0" ]]; then echo "{\\"label\\": \\"$u/$i\\", \\"icon_text\\": \\"\\"}"; else echo "{\\"label\\": \\"$i\\", \\"icon_text\\": \\"\\"}"; fi }; xxx
"""
interval=60

[[buttons]]
row=0
column=1
color="#000000"
icon_text=""
button_press="""
focus-or-exec '^ferdium$' ferdium
"""

[[buttons]]
row=1
column=0
color="#000000"
icon_text=""
execute="~/.scripts/hackdeck/hubstaff.sh"
interval=60
button_press="~/.scripts/hackdeck/hubstaff.sh toggle"

[[buttons]]
row=2
column=0
icon_text="󰍹"
color="#000000"
button_press="<|toggle\n"
execute="~/.scripts/hackdeck/laptop_screen.sh"

[[buttons]]
row=0
column=2
icon_text="󱧣"
color="#000000"
button_press="<|TOGGLE\n"
execute="~/.scripts/hackdeck/hamqtt.sh tasmota_31A3A8 Power1"

[[buttons]]
row=0
column=3
color="#000000"
icon_text=""
button_press="pulsemixer --toggle-mute"
execute="~/.scripts/hackdeck/pulseaudio-volume.sh"

[[buttons]]
row=0
column=4
color="#000000"
icon_text="󰐎"
button_press="media-playpause"

[[buttons]]
row=1
column=4
icon_color="#a238ff"
icon_text=""
button_press="deezer &"

[[buttons]]
row=1
column=3
icon_color="#fff"
icon_text=""
execute="~/.scripts/hackdeck/weather.zsh 24308"
button_press="browser https://pogoda.interia.pl"
