<?php

namespace ${1:[[magento2.namespace]]};

use Magento\Framework\View\Element\Template;
use Magento\Framework\View\Element\Template\Context;

/**
 * Class ${2:[[php.class]]}
 *
 * @author ${3:[[author]]} <${4:[[author_contact]]}>
 */
class ${2:[[php.class]]} extends Template
{
    public function __construct(Context \$context) {
        parent::__construct(\$context);
    }$0
}
