<?php

namespace [[magento2.namespace]];

use Magento\Framework\App\Helper\AbstractHelper;

/**
 * Class ${1:[[php.class]]}
 *
 * @author ${2:[[author]]} <${3:[[author_contact]]}>
 */
class ${1:[[php.class]]} extends AbstractHelper
{$0
}
