layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    tab name="lazygit" focus=true {
        pane command="lazygit-zellij" {
            args "start-from-layout"
        }
    }
}
