priority -50

global !p
def snake(name):
	s1 = re.sub('(\w)([A-Z][a-z]+)', r'\1_\2', name)
	return re.sub('([a-z0-9])([A-Z])', r'\1_\2', s1).lower()

def part_name(text, part_no=-1):
	parts = text.split('/')
	return parts[part_no]

def first_lower(string):
	return string[:1].lower() + string[1:] if string else ''

def module_name(path):
	parts = re.sub(r'.*?/?app/code/', '', path).split('/')
	return parts[0] + '_' + parts[1]

def module_ns(path):
	parts = re.sub(r'.*?/?app/code/', '', path).split('/')
	return parts[0] + '\\' + parts[1]

def module_key(text, depth=0):
	parts = text.split('/')

	company = parts[-(4+depth)]
	abbrev = re.sub(r'[^A-Z]', '', company).lower()

	if len(abbrev) > 1:
		company = abbrev

	return company + '_' + parts[-(3+depth)].lower()
endglobal

snippet di_grid "Magento2 di for entity"
<!-- ${1:Entity} - START -->
<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
	<arguments>
		<argument name="collections" xsi:type="array">
			<item name="${2:`!p snip.rv = module_name(path).lower()`}_${3:`!p snip.rv = t[1].lower()`}_listing_data_source" xsi:type="string">${4:`!p snip.rv = module_ns(path)`}\Model\ResourceModel\\$1\GridCollection</item>
		</argument>
	</arguments>
</type>
<virtualType name="$4\Model\ResourceModel\\$1\GridCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
	<arguments>
		<argument name="mainTable" xsi:type="string">${5:`!p snip.rv = module_name(path).lower() + '_' + t[1].lower()`}</argument>
		<argument name="resourceModel" xsi:type="string">$4\Model\ResourceModel\\$1</argument>
	</arguments>
</virtualType>
<!-- $1 - END -->
endsnippet

snippet di_plugin "Magento2 di for plugin"
<type name="${1:\Some\Class\To\Plug\Into}">
	<plugin name="${2:`!p snip.rv = module_name(path).lower()`}_plugin_${3:for_some_class}"
		type="${4:`!p snip.rv = module_ns(path)`}\Plugin\\${5:PluginClass}"/>
</type>
endsnippet
