snippet postgres "PostgerSQL service"
	${2:db}:
		image: postgres
		hostname: db.${1:app_name}.local
		environment:
			POSTGRES_PASSWORD: postgres
snippet mail "Mailhog service"
	${2:mailhog}:
		image: mailhog/mailhog:latest
		hostname: mailhog.${1:app_name}.local
