<?php

namespace [[php.namespace]];

use App\Http\Controllers\Controller;
use Illuminate\Http\Request;

/**
 * Class [[php.class]]
 *
 * @author ${1:[[author]]} <${2:[[author_contact]]}>
 */
class [[php.class]] extends Controller
{
	public function index(Request \$request)
	{
		$0
	}
}
