<?php
namespace [[php.namespace]];

use Illuminate\Database\Eloquent\Model;

/**
 * Class [[php.class]]
 *
 * @author ${2:[[author]]} <${3:[[author_contact]]}>
 */
class [[php.class]] extends Model
{
	protected \$table = '${1:[[php.snake_name]]s}';
	protected \$fillable = [];
	protected \$hidden = [];

	public \$timestamps = ${4|true,false|};$0
}
