<?php

namespace Tests\[[php.namespace]];

use Illuminate\Foundation\Testing\RefreshDatabase;
use Tests\TestCase;

/**
 * Class [[php.class]]
 *
 * @author ${2:[[author]]} <${3:[[author_contact]]}>
 */
class [[php.class]] extends TestCase
{
	use RefreshDatabase;

	public function test${4:Something}()
	{
		${5:\$this->assertTrue(true);}$0
	}
}
