.config/nvim/lua/pbogut/plugins/chezmoi.lua
.config/nvim/lua/pbogut/plugins/lsp/sqlls.lua
.config/nvim/lua/pbogut/plugins/which_key.lua
.config/nvim/after/queries/php/indents.scm
.scripts/tempermonkey/env-development.js
.scripts/tempermonkey/env-production.js
.scripts/tempermonkey/env-staging.js
.scripts/tempermonkey/work-pharmacy-helper.js
.offlineimap.py
.config/environment.d/sway.conf
.config/environment.d/wayland.conf
.config/nvim/lua/pbogut/settings/highlights.lua
.config/nvim/colors/tokyonight-night.vim
.config/nvim/colors/solarized.vim
.config/nvim/lua/pbogut/settings/themes/solarized/colors.lua
.config/nvim/lua/pbogut/settings/themes/solarized/highlights.lua
.config/nvim/lua/pbogut/settings/themes/tokyonight-night/colors.lua
.config/nvim/lua/pbogut/settings/themes/tokyonight-night/highlights.lua
