encryption = "age"

[age]
  identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
  recipient = "age1dgcgfsuu8k78669klf8p7hkj04dc0vlcefu3dc7dqqdv2csxegysc27dhc"

[secret]
  command = "{{ .chezmoi.homeDir }}/.scripts/secret"
