{{/* feature flags */}}
{{- $personal := false -}}
{{- $work_itdesk := false -}}
{{- $work_assured := false -}}
{{- if eq .chezmoi.username "pbogut" -}}
{{-   if eq .chezmoi.hostname "redeye" -}}
{{-     $personal = true -}}
{{-     $work_assured = true -}}
{{-   end -}}
{{-   if eq .chezmoi.hostname "silverspoon" -}}
{{-     $personal = true -}}
{{-   end -}}
{{- end -}}
{{- if eq .chezmoi.username "itdesk" -}}
{{-   $work_itdesk = true -}}
{{- end -}}

encryption = "age"

[age]
  identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
  recipient = "age1dgcgfsuu8k78669klf8p7hkj04dc0vlcefu3dc7dqqdv2csxegysc27dhc"

[secret]
  command = "{{ .chezmoi.homeDir }}/.scripts/secret"

[data]
  home = "{{ .chezmoi.homeDir }}"
  personal = {{ $personal }}
  work_assured = {{ $work_assured }}
  work_itdesk = {{ $work_itdesk }}
