offlineimaprc.example
msmtprc.example
.local/share/chezmoi
vim.toml
stylua.toml
selene.toml
key.txt.age
assets
etc
.config/chezmoi
.fonts/.uuid
.config/Ferdium/recipes/*
!.config/Ferdium/recipes/dev
{{ if .personal }}
!.config/Ferdium/recipes/discord
!.config/Ferdium/recipes/slack
!.config/Ferdium/recipes/whatsapp
{{ end }}
{{ if .work }}
!.config/Ferdium/recipes/chatwork
!.config/Ferdium/recipes/trello
!.config/Ferdium/recipes/clickup
!.config/Ferdium/recipes/office365-owa
{{ end }}
{{ if not ( eq .chezmoi.hostname "silverspoon" ) }}
**/*_silverspoon_*
{{ end }}
{{ if not ( eq .chezmoi.hostname "redeye" ) }}
**/*_redeye_*
{{ end }}
