offlineimaprc.example
msmtprc.example
.local/share/chezmoi
vim.toml
stylua.toml
selene.toml
key.txt.age
assets
.config/chezmoi
.fonts/.uuid
{{ if not .work_itdesk }}
.config/Ferdium/recipes/clickup
.config/Ferdium/recipes/office365-owa
{{ end }}
