[submodule "zshrc.d/plugins/zsh-autosuggestions"]
	path = zshrc.d/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "private"]
	path = private
	url = git@github.com:pbogut/dotprivate.git
