#!/bin/bash
#=================================================
# name:   .profile
# author: Pawel Bogut <pbogut@pbogut.net>
# date:   11/11/2017
#=================================================
# disable c-s and c-q (terminal flow)
[[ $- == *i* ]] && stty -ixon
export PROFILE_LOADED=true

export GOPATH="$HOME/.gocode"

export PROJECTS="{{ .projects }}"
export DOTFILES="$PROJECTS/github.com/pbogut/dotfiles"
export SCRIPTS="$HOME/.scripts"
export ICONS="$HOME/Icons"

export PATH="$SCRIPTS:$PATH"

export PATH="$HOME/.local/bin:$PATH"
export PATH="$HOME/.npm/bin:$PATH"
export PATH="$HOME/.yarn/bin:$PATH"
export PATH="$HOME/.gocode/bin:$PATH"
export PATH="$HOME/.cargo/bin:$PATH"
export PATH="$HOME/.gem/ruby/3.0.0/bin:$PATH"
export PATH="$HOME/.bin:$PATH"
export PATH="$HOME/.local/share/nvim/mason/bin:$PATH"

export XKB_DEFAULT_LAYOUT=pl
export XKB_DEFAULT_OPTIONS=grp:alt_shift_toggle

export TERMINAL="${TERMINAL:-wezterm}"
export EDITOR="nvim"
export PAGER="less"
export LESS="-RXe"

export QT_QPA_PLATFORMTHEME=gtk3
export FZF_DEFAULT_OPTS="--reverse --cycle --bind=ctrl-e:preview-down,ctrl-y:preview-up,ctrl-s:toggle-preview --bind=alt-j:preview-down,alt-k:preview-up --bind=ctrl-d:preview-half-page-down,ctrl-u:preview-half-page-up --bind=ctrl-w:backward-kill-word --height 40%"

# place for my common python scripts
export PYTHONPATH="$SCRIPTS/_python"

export COMPOSER_IGNORE_PLATFORM_REQS=1

export GAMEMODERUNEXEC="env __GL_SYNC_TO_VBLANK=0 env __VK_SYNC_TO_VBLANK=0 mangohud"

export TMPDIR="/tmp/$USER"
mkdir "$TMPDIR" -p

if which sccache > /dev/null 2>&1; then
  export RUSTC_WRAPPER="sccache"
fi

# redeye {{"{{{"}} {{- if eq .chezmoi.hostname "redeye" }}
export MAKEFLAGS="-j 24"
export PA_DEFAULT_SINK="Starship/Matisse"
#{{- if ne .chezmoi.username "pbogut" }}
export PULSE_SERVER="tcp:127.0.0.1:4713"
#{{- end }}
# redeye {{"}}}"}} {{- end }}

# silverspoon {{"{{{"}} {{- if eq .chezmoi.hostname "silverspoon" }}
export MAKEFLAGS="-j 8"
export PA_DEFAULT_SINK="Speaker"
# silverspoon {{"}}}"}} {{- end }}

export $(gnome-keyring-daemon --start --components=pkcs11\,secrets\,ssh 2>/dev/null)
