# Set default values for all following accounts.
defaults
auth           on
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile        ~/.msmtp.log

# Gmail
account        gmail
host           smtp.gmail.com
port           587

# Set a default account
account default : gmail

# User name, from and password is provided by parameters
# see msmtp.sh for details
