[general]
pythonfile = ~/.offlineimap.py
accounts = gmail

[Account gmail]
localrepository = gmail-local
remoterepository = gmail-remote
status_backend = sqlite
presynchook = ~/.offlineimap-hooks/presync
postsynchook = ~/.offlineimap-hooks/postsync


[Repository gmail-local]
type = Maildir
localfolders = ~/Maildir/gmail
maxconnections = 5
nametrans = lambda folder: {'spam':      '[Gmail]/Spam',
                            'drafts':    '[Gmail]/Drafts',
                            'sent':      '[Gmail]/Sent Mail',
                            'trash':     '[Gmail]/Trash',
                            'archive':   '[Gmail]/All Mail',
                            }.get(folder, folder)

[Repository gmail-remote]
type = Gmail
auth_mechanisms = PLAIN
remoteusereval = get_config('gmail-user')
remotepasseval = get_config('gmail-passwd')
maxconnections = 5
sslcacertfile = /etc/ssl/certs/ca-certificates.crt
# when offlineimap run with OFFLINEIMAP_INBOX_ONLY=1
# env var then quick inbox sync is performed
# @todo move it all to python script
folderfilter = lambda folder: folder in ['INBOX'] if inbox_only else folder in ['INBOX',
                               '[Gmail]/Drafts',
                               '[Gmail]/Sent Mail',
                               '[Gmail]/Trash',
                               '[Gmail]/All Mail',
                               '[Gmail]/Spam'
                               ]
nametrans = lambda folder: {'[Gmail]/Spam':      'spam',
                            '[Gmail]/Drafts':    'drafts',
                            '[Gmail]/Sent Mail': 'sent',
                            '[Gmail]/Trash':     'trash',
                            '[Gmail]/All Mail':  'archive',
                            }.get(folder, folder)

