#!/usr/bin/env bash
#=================================================
# name:   run_once_after_install-go
# author: pbogut <pbogut@pbogut.me>
# date:   06/03/2024
#=================================================
{{ range .packages.go -}}
go install {{ . }}
{{ end }}
