#!/bin/bash
#=================================================
# name:   ${1:`v:lua.projector.f('file_name')`}
# author: ${2:`v:lua.projector.f('author')`} <${3:`v:lua.projector.f('author_contact')`}>
# date:   ${4:`v:lua.projector.f('current_date')`}
#=================================================

