<?php

/**
 * @class1 ${1:`v:lua.projector.f('php.class1')`}
 * @class  ${2:`v:lua.projector.f('php.class')`}
 * @ns     ${3:`v:lua.projector.f('php.namespace')`}
 * @name   ${4:`v:lua.projector.f('base_name')`}
 * @author ${5:`v:lua.projector.f('author')`} <${6:`v:lua.projector.f('author_contact')`}>
 * @date   ${7:`v:lua.projector.f('current_date')`}
 */
$0
