<?php

/**
 * @class1 ${1:[[php.class1]]}
 * @class  ${2:[[php.class]]}
 * @ns     ${3:[[php.namespace]]}
 * @name   ${4:[[base_name]]}
 * @author ${5:[[author]]} <${6:[[author_contact]]}>
 * @date   ${7:[[current_date]]}
 */
$0
