snippet ['
	['$1']$0
snippet [';
	['$1'];$0
snippet fn
	${1|public,protected,private|} function ${2:FnName}(${3:$args})
	{
		$4
	}$0
snippet cl "clAs name (file name)"
	class ${1:`v:lua.projector.f('base_name')`}$0
snippet cl1 "class psr-1"
	class ${1:`v:lua.projector.f('php.class1')`}$0
snippet ns "namespace"
	class ${1:`v:lua.projector.f('php.namespace')`}$0
