{{- if eq .chezmoi.hostname "redeye" -}}
[
    {
        // "layer": "top",
        // "position": "bottom",
        "name": "redeye1",
        "output": [
            "DP-1",
        ],
        "include": [
            "~/.config/waybar/hypr.common.jsonc",
            "~/.config/waybar/modules.jsonc",
        ],
        "modules-left": [
            "hyprland/workspaces",
            "custom/fullscreen",
            "hyprland/windowcount",
            "hyprland/submap"
        ],
        "modules-center": [
            "hyprland/window"
        ],
        "modules-right": [
            "idle_inhibitor",
            "memory",
            "cpu",
            "backlight",
            "custom/vrp10",
            "pulseaudio",
            "custom/weather",
            "custom/date",
            "custom/time",
            "custom/logipro",
            "custom/dualsense",
            "battery",
            "battery#bat2",
            "custom/notmuch"
        ],
    },
    {
        // "layer": "top",
        // "position": "bottom",
        "name": "redeye2",
        "output": [
            "DP-2",
            "HDMI-A-1",
        ],
        "include": [
            "~/.config/waybar/hypr.common.jsonc",
            "~/.config/waybar/modules.jsonc",
        ],
        "modules-left": [
            "hyprland/workspaces",
            "custom/fullscreen",
            "hyprland/windowcount",
            "hyprland/submap",
        ],
        "modules-center": [
            "hyprland/window",
        ],
        "modules-right": [
            "idle_inhibitor",
            "custom/shadowplay",
            "memory",
            "cpu",
            "backlight",
            "custom/vrp10",
            "pulseaudio",
            "custom/weather",
            "custom/date",
            "custom/time",
            "custom/time_uk",
            "custom/logipro",
            "custom/dualsense",
            "custom/bt_kyria",
            "custom/bt_dactyl",
            "custom/bt_xbox",
            "custom/notmuch",
            "tray"
        ],
    }
]
{{- end }}
{{- if eq .chezmoi.hostname "silverspoon" -}}
[
    {
        // "layer": "top",
        // "position": "bottom",
        "name": "silverspoon",
        "output": [
            "eDP-1",
            "DP-1"
        ],
        "include": [
            "~/.config/waybar/hypr.common.jsonc",
            "~/.config/waybar/modules.jsonc",
        ],
        "modules-left": [
            "hyprland/workspaces",
            "custom/fullscreen",
            "hyprland/windowcount",
            "hyprland/submap",
        ],
        "modules-center": [
            "hyprland/window"
        ],
        "modules-right": [
            "idle_inhibitor",
            "memory",
            "cpu",
            "backlight",
            "custom/vrp10",
            "pulseaudio",
            "custom/weather",
            "custom/date",
            "custom/time",
            "custom/time_uk",
            "custom/battery-conservation",
            "battery",
            "battery#bat2",
            "custom/notmuch",
            "tray"
        ],
    }
]
{{- end }}
