@define-color foreground #ffffff;
@define-color background #222222;
@define-color activeborder #4c7899;
@define-color activebackground #34424D;
@define-color border #595959;
@define-color fullscreen #33ccff;

@import "../themes/current/waybar.css";

* {
    font-family: 'JetBrainsMono Nerd Font Propo';
    font-feature-settings: '"zero", "tnum", "ss01", "ss02", "ss03", "cv01"';
    /* animation-timing-function: steps(12); */
    /* animation-duration: 0.3s; */
    transition: padding 0.3s, opacity 0.3s, border-color 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

window#waybar * {
    color: @foreground;
}
window#waybar {
    font-size: 11px;
    border-radius: 10px;
    border: none;
}
window#waybar.silverspoon.DP-1,
window#waybar.redeye1,
window#waybar.redeye2 {
    font-size: 12px;
}
window#waybar.silverspoon.eDP-1 {
    font-size: 14px;
}

window#waybar {
    /* background-color: rgba(43, 48, 59, 0.5); */
    /* background-color: @background; */
    background-color: transparent;
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: #dfdfdf;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button {
    border-radius: 100%;
    padding: 0 5px 0 5px;
    background-color: @background;
    border: 1px solid @border;
    margin: 0 2px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #00ff99;
}

#workspaces button.active {
    background-color: @activebackground;
    border: 1px solid @activeborder;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: @background;
    border-bottom: 3px solid #ffffff;
}
#submap {
    background-color: @background;
    padding:0 10px;
}
#custom-razer-naga-v2-hyperspeed,
#custom-power,
#custom-nextcloud,
#custom-bt_kyria,
#custom-bt_dactyl,
#custom-bt_xbox,
#custom-logipro,
#custom-notmuch,
#custom-gamemode,
#custom-shadowplay,
#custom-memory_left,
#custom-date,
#custom-time,
#custom-time_uk,
#custom-screnrecord,
#custom-media_sync,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#bluetooth,
#wireplumber,
#custom-media,
#custom-hubstaff,
#custom-weather,
#tray-expander,
#audio,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-battery-conservation,
#window,
#submap,
#mpd {
    padding: 0 10px;
    border: 1px solid @border;
    border-radius: 10px;
    background-color: @background;
    margin: 0 3px;
    box-shadow: 0px 0px 2px 0px rgba(26, 26, 26, 0.9);
    margin-top:1px;
    margin-bottom: 1px;
}
.audio-group-item #custom-vrp10,
.audio-group-item #custom-audioshare-client,
.audio-group-item #custom-audio-loopback,
.audio-group-item #custom-easyeffects-in,
.audio-group-item #custom-easyeffects-out,
.audio-group-item #custom-audioshare {
    margin-left: 10px;
}
#workspaces {
    padding: 0;
}
window#waybar.empty #window,
window#waybar:not(.fullscreen) #custom-fullscreen,
window#waybar:not(.fullscreen) #windowcount {
    opacity: 0;
}
window#waybar.fullscreen #window {
    color: @fullscreen;
    padding: 0 50px;
    border: 1px solid @fullscreen;
}
window#waybar #custom-fullscreen,
window#waybar #windowcount {
    color: @fullscreen;
    background-color: @background;
}
window#waybar #custom-fullscreen {
    margin-left: 5px;
    padding: 0 5px 0 10px;
    border-left: 1px solid @fullscreen;
    border-top: 1px solid @fullscreen;
    border-bottom: 1px solid @fullscreen;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
window#waybar #windowcount {
    padding: 0 10px 0 0;
    border-right: 1px solid @fullscreen;
    border-top: 1px solid @fullscreen;
    border-bottom: 1px solid @fullscreen;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#workspaces button {
    box-shadow: 0px 0px 2px 0px rgba(26, 26, 26, 0.9);
    margin-top:1px;
    margin-bottom: 1px;
}

/* #window { */
/*     background: red; */
/* } */
/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* #battery { */
/*     background-color: #ffffff; */
/*     color: #000000; */
/* } */

/* #battery.charging, #battery.plugged { */
/*     color: @foreground; */
/*     background-color: #26A65B; */
/* } */

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.warning:not(.charging) {
    /* background-color: #ed7f21; */
    /* color: #ffffff; */
    color: #ffa000;
}
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    /* animation-name: blink; */
    /* animation-duration: 0.5s; */
    /* animation-timing-function: linear; */
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate; */
}

label:focus {
    background-color: #000000;
}

/* #cpu { */
/*     background-color: #2ecc71; */
/*     color: #000000; */
/* } */

/* #memory { */
/*     background-color: #9b59b6; */
/* } */

/* #disk { */
/*     background-color: #964B00; */
/* } */

/* #backlight { */
/*     background-color: #90b1b1; */
/* } */

/* #network { */
/*     background-color: #2980b9; */
/* } */

/* #network.disconnected { */
/*     background-color: #f53c3c; */
/* } */

/* #pulseaudio { */
/*     background-color: #f1c40f; */
/*     color: #000000; */
/* } */

/* #pulseaudio.muted { */
/*     background-color: #90b1b1; */
/*     color: #2a5c45; */
/* } */

/* #wireplumber { */
/*     background-color: #fff0f5; */
/*     color: #000000; */
/* } */

/* #wireplumber.muted { */
/*     background-color: #f53c3c; */
/* } */

/* #custom-weather { */
/*     background-color: #66cc99; */
/*     color: #2a5c45; */
/*     padding: 0 5px; */
/* } */

#custom-time.default {
    color:red;
}
#custom-time_uk.custom-default {
    color: green;
}
#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

/* #tray { */
/*     background-color: #2980b9; */
/* } */

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

/* #idle_inhibitor { */
/*     background-color: #2d3436; */
/* } */

/* #idle_inhibitor.activated { */
/*     background-color: #ecf0f1; */
/*     color: #2d3436; */
/* } */

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    color: #444;
}

#scratchpad.empty {
    background-color: transparent;
}
