<?php

namespace [[php.namespace]];

use Magento\Backend\App\Action;
use Magento\Backend\App\Action\Context as ActionContext;
use Magento\Framework\App\Action\Http${1|Get,Post|}ActionInterface;
use Magento\Framework\View\Result\PageFactory as ResultPageFactory;

/**
 * Class [[php.class]]
 *
 * @author ${2:[[author]]} <${3:[[author_contact]]}>
 */
class [[php.class]] extends Action implements Http${1:Get}ActionInterface
{
	const ADMIN_RESOURCE = '${4:[[magento2.module_namespace]]}::${5:[[magento2.resource_name]]}';

	/** @var ResultPageFactory */
	protected \$resultPageFactory;

	public function __construct(
		ActionContext \$context,
		ResultPageFactory \$resultPageFactory
	) {
		\$this->_resultPageFactory = \$resultPageFactory;
		parent::__construct(\$context);
	}

	public function execute()
	{
		${0://action}
	}
}
