<?php

namespace [[php.namespace]];

use Magento\Backend\App\Action;
use Magento\Backend\App\Action\Context as ActionContext;
use Magento\Framework\App\Action\HttpGetActionInterface;
use Magento\Framework\View\Result\PageFactory as ResultPageFactory;

/**
 * Class [[php.class]]
 *
 * @author ${1:[[author]]} <${2:[[author_contact]]}>
 */
class [[php.class]] extends Action implements HttpGetActionInterface
{
	const ADMIN_RESOURCE = '${3:[[magento2.module_namespace]]}::${4:[[magento2.resource_name]]}';

	/** @var ResultPageFactory */
	protected $_resultPageFactory;

	public function __construct(
		ActionContext \$context,
		ResultPageFactory \$resultPageFactory
	) {
		\$this->_resultPageFactory = \$resultPageFactory;
		parent::__construct(\$context);
	}

	public function execute()
	{
		\$resultPage = \$this->_resultPageFactory->create();
		\$this->_setActiveMenu('${3:[[magento2.module_namespace]]}::${5:[[magento2.resource_name]]}');
		\$resultPage->getConfig()->getTitle()->prepend(__('${6:[[magento2.resource_name]]}'));

		return \$resultPage;$0
	}
}
