snippet zd "Zend_Debug dump"
	Zend_Debug::dump(
snippet zd( "Zend_Debug dump"
	Zend_Debug::dump(${VISUAL}$1)$0
snippet zd(); "Zend_Debug dump"
	Zend_Debug::dump(${VISUAL}$1);$0
snippet zd; "Zend_Debug dump"
	Zend_Debug::dump(${VISUAL}$1);$0
