<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:Magento:module:Magento_Email:etc/email_templates.xsd">
    <template id="${1:[[magento2.module_key]]}_email_template" label="Email label" file="email_template.html" type="html" module="${2:[[magento2.module_name]]}" area="frontend"/>
</config>
