general {
    lock_cmd = hyprlock
    before_sleep_cmd = hyprlock
    ignore_dbus_inhibit = false
    ignore_systemd_inhibit = false
}

listener {
    timeout = 1800 # 30 minutes, we testing
    on-timeout = systemctl suspend
}

listener {
    timeout = 150 # 2.5min.
    on-timeout = brightnessctl -s set 10         # set monitor backlight to minimum, avoid 0 on OLED monitor.
    on-resume = brightnessctl -r                 # monitor backlight restore.
}
