general {
    lock_cmd = hyprlock
    before_sleep_cmd = hyprlock
    ignore_dbus_inhibit = false
    ignore_systemd_inhibit = false
    inhibit_sleep = 3 # wait until screen is locked
}

# redeye [[[ {{- if eq .chezmoi.hostname "redeye" }}
listener {
    timeout = 150 # 2.5min.
    on-timeout = screensaver # WARNING: This will reset idle timer
}

listener {
    timeout = 900 # 15min. (+screensaver time)
    on-timeout = screensaver exit && loginctl lock-session
}
# redeye ]]] {{- end }}

# silverspoon [[[ {{- if eq .chezmoi.hostname "silverspoon" }}
listener {
    timeout = 85 # 1.5min.
    on-timeout = systemd-ac-power && screensaver # WARNING: This will reset idle timer
}
listener {
    timeout = 100 # 1.5min (+screensaver time, maybe)
    on-timeout = brightnessctl -s set 50%
    on-resume = brightnessctl -r
}

listener {
    timeout = 150 # 2.5min.
    on-timeout = brightnessctl set 10%
    on-resume = brightnessctl -r
}

listener {
    timeout = 300 # 5min.
    on-timeout = systemd-ac-power || hyprctl dispatch dpms off
    on-resume = hyprctl dispatch dpms on && brightnessctl -r
}

listener {
    timeout = 310 # 5min.
    on-timeout = screensaver exit && loginctl lock-session
    on-resume = hyprctl dispatch dpms on && brightnessctl -r
}

listener {
    timeout = 900 # 15 minutes, we testing
    on-timeout = systemd-ac-power || systemctl suspend
    on-resume = hyprctl dispatch dpms on && brightnessctl -r
}
# silverspoon ]]] {{- end }}

listener {
    timeout = 3600 # 1h
    on-timeout = systemctl suspend
    on-resume = hyprctl dispatch dpms on && brightnessctl -r
}
