[opener]
open = [
  { run = 'rifle "$1"', desc = "Open", for = "linux" },
]
extract = [
  { run = 'rifle "$1"', desc = "Extract", for = "linux" },
]
cd = [
  { run = 'ya emit cd "$1"', desc = "yazi cd", for = "linux" },
]

[open]
prepend_rules = [
  # Archive
  { mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = [ "extract" ] },
  # Directory
  # { mime = "*/", use = [ "cd" ] },
  { mime = "inode/directory", use = [ "cd" ] },
]
