[Desktop Entry]
Name=email
GenericName=Email Application
Icon=email
Type=Application
Categories=Network;Email;
Exec={{ .chezmoi.homeDir }}/.scripts/email %u
Terminal=false
StartupNotify=false
#Actions=GetMail;ComposeMail;SendFile;
Keywords=Email
MimeType=x-scheme-handler/mailto;
