<?php

namespace ${1:`v:lua.projector.f('magento2.namespace')`};

use Magento\Framework\App\Action\Action;
use Magento\Framework\App\Action\Context as ActionContext;
use Magento\Framework\App\Action\Http${2|Get,Post|}ActionInterface;

/**
 * Class ${3:`v:lua.projector.f('php.class')`}
 *
 * @author ${4:`v:lua.projector.f('author')`} <${5:`v:lua.projector.f('author_contact')`}>
 */
class $3 extends Action implements Http$2ActionInterface
{
    public function __construct(
        ActionContext $context
    ) {
        parent::__construct($context);
    }

    public function execute()
    {
        ${0://}
    }
}
