priority -50

snippet dump "dump knockout template data"
<div data-bind="text: ko.toJSON($data)"></div>
endsnippet

snippet debug "dump knockout template data"
<div data-bind="text: ko.toJSON($data)"></div>
endsnippet
