<?php

namespace [[php.namespace]];

use Magento\Eav\Setup\EavSetup;
use Magento\Eav\Setup\EavSetupFactory;
use Magento\Framework\Setup\ModuleDataSetupInterface;
use Magento\Eav\Model\Entity\Attribute\ScopedAttributeInterface;
use Magento\Framework\Setup\Patch\DataPatchInterface;
use Magento\Framework\Setup\Patch\PatchVersionInterface;

/**
 * Class [[php.class]]
 *
 * @author ${1:[[author]]} <${2:[[author_contact]]}>
 */
class [[php.class]] implements DataPatchInterface, PatchVersionInterface
{
    private \$eavSetupFactory;
    private \$moduleDataSetup;

    public function __construct(
        ModuleDataSetupInterface \$setup,
        EavSetupFactory \$eavSetupFactory,
    ) {
        \$this->eavSetupFactory = \$eavSetupFactory;
        \$this->moduleDataSetup = \$setup;
    }

    public function apply()
    {
        /** @var EavSetup \$eavSetup */
        \$eavSetup = \$this->eavSetupFactory->create(['setup' => \$this->moduleDataSetup]);

        // snippet:
        ${4|setup_add_product_attribute|}$0
    }

    public function getAliases()
    {
        return [];
    }

    public static function getDependencies()
    {
        return [];
    }

    public static function getVersion()
    {
        return '${3:1.0.0}';
    }
}
