priority -50

snippet =ne "echo" i
<?= /* @noEscape */ ${VISUAL}$0 ?>
endsnippet

snippet customersession "use CustomerSession"
use Magento\Customer\Model\Session as CustomerSession;
endsnippet

snippet checkoutsession "use CheckoutSession"
use Magento\Checkout\Model\Session as CheckoutSession;
endsnippet

snippet messagemanager "use MessageManager"
use Magento\Framework\Message\Manager as MessageManager;
endsnippet

snippet resultfactory "use ResultFactory"
use Magento\Framework\Controller\ResultFactory;
endsnippet

snippet urlbuilder "use UrlBuilder"
use Magento\Framework\UrlInterface as UrlBuilder;
endsnippet

snippet resultredirect "$resultRedirect"
/** @var Magento\Framework\Controller\Result\Redirect $resultRedirect **/
$resultRedirect = $this->_resultFactory->create(ResultFactory::TYPE_REDIRECT);
endsnippet

snippet resultredirect "$resultRedirect"
/** @var Magento\Framework\Controller\Result\Redirect $resultRedirect **/
$resultRedirect = $this->_resultFactory->create(ResultFactory::TYPE_REDIRECT);
endsnippet

snippet objectmanager "$objectManager"
/** @var Magento\Framework\App\ObjectManager **/
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
endsnippet

snippet log "log"
\Magento\Framework\App\ObjectManager::getInstance()->get(\Psr\Log\LoggerInterface::class)->info($0);
endsnippet
