<?php

namespace [[php.namespace]];

use ${1|AcceptanceTester,FunctionalTester|};

/**
 * Class [[php.class]]
 *
 * @author ${2:[[author]]} <${3:[[author_contact]]}>
 */
class [[php.class]]
{
	public function _before(${1:AcceptanceTester} \$I)
	{
	}

	public function _after(${1:AcceptanceTester} \$I)
	{
	}

	// tests
	public function tryToTest(${1:AcceptanceTester} \$I)
	{
		$0
	}
}
