<?php

namespace [[php.namespace]];

use Codeception\Test\Unit;
use UnitTester;

/**
 * Class [[php.class]]
 *
 * @author ${1:[[author]]} <${2:[[author_contact]]}>
 */
class [[php.class]] extends Unit
{

	/**
	* @var UnitTester
	*/
	protected \$tester;

	protected function _before()
	{
	}

	protected function _after()
	{
	}

	// tests
	public function testMe()
	{
		$0
	}
}
