priority -50

snippet _t_skel "Default ruby shell" b
#!/usr/bin/env ruby
#=================================================
# name:   ${1:`!v expand('%:t')`}
# author: ${2:`!v g:snips_author`} <${3:`!v g:snips_author_url`}>
# date:   ${5:`date '+%d/%m/%Y'`}
#=================================================
$0
endsnippet
