<?php

/**
 * Class [[php.class1]]
 *
 * @author ${1:[[author]]} <${2:[[author_contact]]}>
 */
class [[php.class1]] extends Mage_Core_Model_Abstract
{
	protected function _construct()
	{
		\$this->_init('${3:[[magento.module_key]]}/${4:[[lower_first_name]]}');
	}$0
}
