<?php

namespace ${1:[[magento2.namespace]]};

use Magento\Framework\Data\OptionSourceInterface;

/**
 * Class ${2:[[php.class]]}
 *
 * @author ${3:[[author]]} <${4:[[author_contact]]}>
 */
class ${2:[[php.class]]} implements OptionSourceInterface
{
    protected $options = [
        ${0:// '0' => 'Zero',
        // '1' => 'One',}
    ];

    /**
     * Get options
     *
     * @return array
     */
    public function toOptionArray()
    {
        $options = [];
        foreach ($this->options as $key => $value) {
            $options[] = [
                'label' => $value,
                'value' => $key,
            ];
        }
        return $options;
    }
}
