priority -50

global !p
def snake(name):
	s1 = re.sub('(\w)([A-Z][a-z]+)', r'\1_\2', name)
	return re.sub('([a-z0-9])([A-Z])', r'\1_\2', s1).lower()

def part_name(text, part_no=-1):
	parts = text.split('/')
	return parts[part_no]

def first_lower(string):
	return string[:1].lower() + string[1:] if string else ''

def module_name(path):
	parts = re.sub(r'.*?/?app/code/', '', path).split('/')
	return parts[0] + '_' + parts[1]

def module_ns(path):
	parts = re.sub(r'.*?/?app/code/', '', path).split('/')
	return parts[0] + '\\' + parts[1]

def module_key(text, depth=0):
	parts = text.split('/')

	company = parts[-(4+depth)]
	abbrev = re.sub(r'[^A-Z]', '', company).lower()

	if len(abbrev) > 1:
		company = abbrev

	return company + '_' + parts[-(3+depth)].lower()
endglobal

snippet _t_magento2_module "Magento module file" b
<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="${1:`!p snip.rv = module_name(path) `}">
		<!-- <sequence>
			<module name="Module_Name"/>
		</sequence> -->
	</module>
</config>
endsnippet

snippet _t_magento2_frontend_routes "Magento frontend routes file" b
<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="standard">
		<route id="${1:`!p snip.rv = module_name(path).lower() `}" frontName="$1">
			<module name="${2:`!p snip.rv = module_name(path) `}" />
		</route>
	</router>
</config>
endsnippet

snippet _t_magento2_adminhtml_routes "Magento frontend routes file" b
<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route id="${1:`!p snip.rv = module_name(path).lower() `}" frontName="$1">
			<module name="${2:`!p snip.rv = module_name(path) `}" before="Magento_Backend"/>
		</route>
	</router>
</config>
endsnippet

snippet _t_magento2_events "Magento events" b
<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="${1:event_name}">
		<observer name="`!p snip.rv = module_name(path).lower() `_$1"
		      instance="${2:Observer\Class}" />
	</event>
</config>
endsnippet

snippet _t_magento2_di "Magento di" b
<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
</config>
endsnippet

snippet _t_magento2_layout_entity_index "Layout for entity index" b
<?xml version="1.0"?>
<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
	<!-- <update handle="styles"/> -->
	<body>
		<referenceContainer name="content">
			<uiComponent name="${1:`!p snip.rv = re.sub('_index.xml$', '_listing', fn)`}"/>
		</referenceContainer>
	</body>
</page>
endsnippet

snippet _t_magento2_layout_entity_new "Layout for entity new" b
<?xml version="1.0"?>
<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
	<!-- <update handle="styles"/> -->
	<body>
		<referenceContainer name="content">
			<uiComponent name="${1:`!p snip.rv = re.sub('.xml$', '', fn)`}"/>
		</referenceContainer>
	</body>
</page>
endsnippet

snippet _t_magento2_layout_entity_edit "Layout for entity edit" b
<?xml version="1.0"?>
<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
	<!-- <update handle="styles"/> -->
	<body>
		<referenceContainer name="content">
			<uiComponent name="${1:`!p snip.rv = re.sub('_edit.xml$', '_form', fn)`}"/>
		</referenceContainer>
	</body>
</page>
endsnippet

snippet _t_magento2_layout_ui_component_listing "UI Component for listing" b
<?xml version="1.0"?>
<listing xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Ui:etc/ui_configuration.xsd">
	<argument name="data" xsi:type="array">
		<item name="js_config" xsi:type="array">
			<item name="provider" xsi:type="string">`!p snip.rv = re.sub('.xml$', '', fn)`.`!p snip.rv = re.sub('.xml$', '', fn)`_data_source</item>
			<item name="deps" xsi:type="string">`!p snip.rv = re.sub('.xml$', '', fn)`.`!p snip.rv = re.sub('.xml$', '', fn)`_data_source</item>
		</item>
		<item name="spinner" xsi:type="string">spinner_columns</item>
		<item name="buttons" xsi:type="array">
			<item name="add" xsi:type="array">
				<item name="name" xsi:type="string">add</item>
				<item name="label" xsi:type="string" translate="true">Add New ${4:$7}</item>
				<item name="class" xsi:type="string">primary</item>
				<item name="url" xsi:type="string">*/*/new</item>
			</item>
		</item>
	</argument>
	<dataSource name="nameOfDataSource">
		<argument name="dataProvider" xsi:type="configurableObject">
			<argument name="class" xsi:type="string">Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider</argument>
			<argument name="name" xsi:type="string">`!p snip.rv = re.sub('.xml$', '', fn)`_data_source</argument>
			<argument name="primaryFieldName" xsi:type="string">${5:`!p snip.rv = re.sub('_listing.xml$', '', fn).split('_')[-1]`_id}</argument>
			<argument name="requestFieldName" xsi:type="string">id</argument>
			<argument name="data" xsi:type="array">
				<item name="config" xsi:type="array">
					<item name="component" xsi:type="string">Magento_Ui/js/grid/provider</item>
					<item name="update_url" xsi:type="url" path="mui/index/render"/>
					<item name="storageConfig" xsi:type="array">
						<item name="indexField" xsi:type="string">$5</item>
					</item>
				</item>
			</argument>
		</argument>
	</dataSource>
	<columns name="spinner_columns">
		<selectionsColumn name="ids">
			<argument name="data" xsi:type="array">
				<item name="config" xsi:type="array">
					<item name="resizeEnabled" xsi:type="boolean">false</item>
					<item name="resizeDefaultWidth" xsi:type="string">55</item>
					<item name="indexField" xsi:type="string">$5</item>
				</item>
			</argument>
		</selectionsColumn>
		<column name="$5">
			<argument name="data" xsi:type="array">
				<item name="config" xsi:type="array">
					<item name="filter" xsi:type="string">textRange</item>
					<item name="sorting" xsi:type="string">asc</item>
					<item name="label" xsi:type="string" translate="true">ID</item>
				</item>
			</argument>
		</column>
		<!--
		<actionsColumn name="actions" class="${6:`!p snip.rv = module_ns(path)`}\Ui\Component\Listing\Column\\${7:`!p snip.rv = re.sub('_listing.xml$', '', fn).split('_')[-1].title()`}Edit">
			<settings>
				<indexField>$5</indexField>
			</settings>
		</actionsColumn>
		-->
	</columns>
</listing>
endsnippet

snippet _t_magento2_layout_ui_component_form "UI Component for form" b
<form xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Ui:etc/ui_configuration.xsd">
	<argument name="data" xsi:type="array">
		<item name="js_config" xsi:type="array">
			<item name="provider" xsi:type="string">`!p snip.rv = re.sub('.xml$', '', fn)`.`!p snip.rv = re.sub('.xml$', '', fn)`_data_source</item>
			<item name="deps" xsi:type="string">`!p snip.rv = re.sub('.xml$', '', fn)`.`!p snip.rv = re.sub('.xml$', '', fn)`_data_source</item>
		</item>
		<item name="label" xsi:type="string" translate="true">$5 Information</item>
		<item name="config" xsi:type="array">
			<item name="dataScope" xsi:type="string">data</item>
			<item name="namespace" xsi:type="string">`!p snip.rv = re.sub('.xml$', '', fn)`</item>
		</item>
		<!--
		<item name="buttons" xsi:type="array">
			<item name="delete" xsi:type="string">Pharmacy\Base\Block\Adminhtml\Buttons\DeleteButton</item>
			<item name="save_and_continue" xsi:type="string">Pharmacy\Base\Block\Adminhtml\Buttons\SaveAndContinueButton</item>
			<item name="reset" xsi:type="string">Pharmacy\Base\Block\Adminhtml\Buttons\ResetButton</item>
			<item name="save" xsi:type="string">Pharmacy\Base\Block\Adminhtml\Buttons\SaveButton</item>
		</item>
		-->
		<item name="template" xsi:type="string">templates/form/collapsible</item>
	</argument>
	<dataSource name="`!p snip.rv = re.sub('.xml$', '', fn)`_data_source">
		<argument name="dataProvider" xsi:type="configurableObject">
			<argument name="class" xsi:type="string">`!p snip.rv = module_ns(path)`\Model\ResourceModel\\${5:`!p snip.rv = re.sub('_form.xml$', '', fn).split('_')[-1].title()`}\DataProvider</argument>
			<argument name="name" xsi:type="string">`!p snip.rv = re.sub('.xml$', '', fn)`_data_source</argument>
			<argument name="primaryFieldName" xsi:type="string">${6:`!p snip.rv = re.sub('_form.xml$', '', fn).split('_')[-1]`}_id</argument>
			<argument name="requestFieldName" xsi:type="string">id</argument>
		</argument>
		<argument name="data" xsi:type="array">
			<item name="js_config" xsi:type="array">
				<item name="component" xsi:type="string">Magento_Ui/js/form/provider</item>
				<item name="submit_url" xsi:type="url" path="*/*/save"></item>
			</item>
		</argument>
	</dataSource>
	<fieldset name="$6_details">
		<argument name="data" xsi:type="array">
			<item name="config" xsi:type="array">
				<item name="collapsible" xsi:type="boolean">false</item>
				<item name="label" xsi:type="string" translate="true">$5 Details</item>
				<item name="sortOrder" xsi:type="number">10</item>
			</item>
		</argument>
		<field name="$6_id">
			<argument name="data" xsi:type="array">
				<item name="config" xsi:type="array">
					<item name="dataType" xsi:type="string">text</item>
					<item name="label" xsi:type="string" translate="true">$5 Id</item>
					<item name="formElement" xsi:type="string">hidden</item>
					<item name="source" xsi:type="string">$6</item>
					<item name="dataScope" xsi:type="string">$6_id</item>
				</item>
			</argument>
		</field>
	</fieldset>
</form>
endsnippet
