priority -50

snippet tosql "Ecto query to sql"
${0:query} |> (fn q -> Ecto.Adapters.SQL.to_sql(:all, Repo, q) end).() |> IO.inspect
endsnippet

snippet tosql "Ecto query to sql"
${0:query} |> (fn q -> Ecto.Adapters.SQL.to_sql(:all, Repo, q) end).() |> IO.inspect
endsnippet

snippet in "Inspect"
|> IO.inspect
endsnippet

snippet """ "Here doc"
"""
${VISUAL}$0
"""
endsnippet
