priority -50

snippet fak "mod"
Cześć ${1:imie}.

W załączniku przesyłam fakturę.

Pozdrawiam,
Paweł
endsnippet


snippet inv "mod"
Hey ${1:name}.

Find invoice attached.

Kind regards,
Paweł
endsnippet


snippet temp "mod"

$0

--
Pawel Bogut
endsnippet
