<form xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Ui:etc/ui_configuration.xsd">
	<argument name="data" xsi:type="array">
		<item name="js_config" xsi:type="array">
			<item name="provider" xsi:type="string">[[base_name]].[[base_name]]_data_source</item>
			<item name="deps" xsi:type="string">[[base_name]].[[base_name]]_data_source</item>
		</item>
		<item name="label" xsi:type="string" translate="true">${1:Entity} Information</item>
		<item name="config" xsi:type="array">
			<item name="dataScope" xsi:type="string">data</item>
			<item name="namespace" xsi:type="string">[[base_name]]</item>
		</item>
		<!--
		<item name="buttons" xsi:type="array">
			<item name="delete" xsi:type="string">Pharmacy\Base\Block\Adminhtml\Buttons\DeleteButton</item>
			<item name="save_and_continue" xsi:type="string">Pharmacy\Base\Block\Adminhtml\Buttons\SaveAndContinueButton</item>
			<item name="reset" xsi:type="string">Pharmacy\Base\Block\Adminhtml\Buttons\ResetButton</item>
			<item name="save" xsi:type="string">Pharmacy\Base\Block\Adminhtml\Buttons\SaveButton</item>
		</item>
		-->
		<item name="template" xsi:type="string">templates/form/collapsible</item>
	</argument>
	<dataSource name="[[base_name]]_data_source">
		<argument name="dataProvider" xsi:type="configurableObject">
			<argument name="class" xsi:type="string">[[magento2.module_namespace]]\Model\ResourceModel\\$1\DataProvider</argument>
			<argument name="name" xsi:type="string">[[base_name]]_data_source</argument>
			<argument name="primaryFieldName" xsi:type="string">${2:entity}_id</argument>
			<argument name="requestFieldName" xsi:type="string">id</argument>
		</argument>
		<argument name="data" xsi:type="array">
			<item name="js_config" xsi:type="array">
				<item name="component" xsi:type="string">Magento_Ui/js/form/provider</item>
				<item name="submit_url" xsi:type="url" path="*/*/save"></item>
			</item>
		</argument>
	</dataSource>
	<fieldset name="$2_details">
		<argument name="data" xsi:type="array">
			<item name="config" xsi:type="array">
				<item name="collapsible" xsi:type="boolean">false</item>
				<item name="label" xsi:type="string" translate="true">$1 Details</item>
				<item name="sortOrder" xsi:type="number">10</item>
			</item>
		</argument>
		<field name="$2_id">
			<argument name="data" xsi:type="array">
				<item name="config" xsi:type="array">
					<item name="dataType" xsi:type="string">text</item>
					<item name="label" xsi:type="string" translate="true">$1 Id</item>
					<item name="formElement" xsi:type="string">hidden</item>
					<item name="source" xsi:type="string">$2</item>
					<item name="dataScope" xsi:type="string">$2_id</item>
				</item>
			</argument>
		</field>
	</fieldset>
</form>
