#!/bin/bash
#super awesome capslock key
script=$(readlink -f "$0")
scriptpath=$(dirname "$script")
compositor=$XDG_SESSION_DESKTOP

function demonize() {
  pid="/tmp/__$(id -un)__$1.pid"
  # if no pid file or no process
  if [ ! -f "$pid" ] || ! kill -0 $(cat $pid) 2>/dev/null; then
    # $2 >/dev/null 2>&1 &
    $2 &
    echo $! >$pid
  fi
}

function rerun() {
  # killall "$1" >/dev/null 2>&1
  kill $(pgrep -f "$2")
  $2 >/dev/null 2>&1 &
}

# daemons
# {{- if .personal }} {{"{{{"}} - personal
rerun gamemode "{{ .home }}/.scripts/sway/gamemode.sh --watch"
demonize kdeconnect kdeconnect-indicator
demonize nextcloud "nextcloud --background"
demonize syncthing syncthing
# {{"}}}"}} - personal {{- end }}

rerun copyq copyq
demonize wlsunset "wlsunset -l 50 -L 17"
demonize udisksvm "udisksvm -a"
demonize memwatch ~/.scripts/memwatch.sh
demonize mailsgoweb ~/.scripts/mailsgoweb.sh
demonize kdeconnect-file-watch kdeconnect-file-watch
demonize dunst dunst

# {{- if eq .chezmoi.hostname "redeye" }} redeye [[[
# I dont want to talk about it
optical=$(pactl list sinks | grep 'Name: alsa_output.pci-0000_05_00' | sed 's,.*Name: ,,')
pactl set-default-sink "$optical"
(sleep 2s; aoc-menu gamemode off) &
(sleep 7s; aoc-menu gamemode off) &
# redeye ]]] {{- end }}

# just local one, not versioned
if [[ -f "$HOME/.autostart.local.sh" ]]; then
  # shellcheck disable=1091
  source "$HOME/.autostart.local.sh"
fi
