<?php

namespace ${1:`v:lua.projector.f('magento2.namespace')`};

use Magento\Framework\View\Element\Template;
use Magento\Framework\View\Element\Template\Context;

/**
 * Class ${2:`v:lua.projector.f('php.class')`}
 *
 * @author ${3:`v:lua.projector.f('author')`} <${4:`v:lua.projector.f('author_contact')`}>
 */
class $2 extends Template
{
    public function __construct(Context $context) {
        parent::__construct($context);
    }$0
}
