<?php

namespace [[magento2.namespace]];

use Magento\Framework\Event\ObserverInterface;
use Magento\Framework\Event\Observer;

/**
 * Class [[php.class]]
 *
 * @author ${1:[[author]]} <${2:[[author_contact]]}>
 */
class [[php.class]] implements ObserverInterface
{
	public function execute(Observer \$observer)
	{
		${0://code}
	}
}
