defmodule ${1:[[elixir.module_name]]} do
	use ${2:[[elixir.base_module]]}.ChannelCase

	describe "${3:event description}" do
		test "${5:test description}" do
			${9:assert false == true}$0
		end
	end
end
