<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <${1:section_name}>
          <${2:group_name}>
            <${3:field_name}>${4:value}</$3>
          </$2>
        </$1>
    </default>
</config>
