snippet =ne "echo"
	<?= /* @noEscape */ ${VISUAL}$0 ?>
snippet customersession "use CustomerSession"
	use Magento\Customer\Model\Session as CustomerSession;
snippet checkoutsession "use CheckoutSession"
	use Magento\Checkout\Model\Session as CheckoutSession;
snippet messagemanager "use MessageManager"
	use Magento\Framework\Message\Manager as MessageManager;
snippet resultfactory "use ResultFactory"
	use Magento\Framework\Controller\ResultFactory;
snippet urlbuilder "use UrlBuilder"
	use Magento\Framework\UrlInterface as UrlBuilder;
snippet resultredirect "$resultRedirect"
	/** @var Magento\Framework\Controller\Result\Redirect \$resultRedirect **/
	\$resultRedirect = \$this->_resultFactory->create(ResultFactory::TYPE_REDIRECT);
snippet resultredirect "$resultRedirect"
	/** @var Magento\Framework\Controller\Result\Redirect \$resultRedirect **/
	\$resultRedirect = \$this->_resultFactory->create(ResultFactory::TYPE_REDIRECT);
snippet objectmanager "$objectManager"
	/** @var \Magento\Framework\ObjectManagerInterface */
	\$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
snippet log "log"
	\Magento\Framework\App\ObjectManager::getInstance()
		->get(\Psr\Log\LoggerInterface::class)
		->info($0);
snippet adapterfn "adapter function"
	/** @var \Magento\Framework\DB\Adapter\Pdo\Mysql */
	protected \$adapter = null;

	/**
	 * @return \Magento\Framework\DB\Adapter\Pdo\Mysql
	 */
	protected function getAdapter()
	{
		if (\$this->adapter == null) {
			/** @var \Magento\Framework\ObjectManagerInterface \$objectManager */
			\$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
			\$this->adapter = \$objectManager->get(\Magento\Framework\App\ResourceConnection::class)
				->getConnection()
				->select()
				->getAdapter();
		}
		return \$this->adapter;
	}
snippet setup_add_product_attribute "add product attribute"
	\$eavSetup->addAttribute(
			\Magento\Catalog\Model\Product::ENTITY,
			'${1:product_attibute_code}',
			[
					'type' => '${2|text,varchar,int,decimal,datetime|}',
					'label' => 'List of Tabs to display',
					'note' => 'One block_id per line, special tabs :trustpilot: :pricelist:',
					'input' => '${3|text,textarea,select,multiselect,multiline,boolean,hidden,date,price,weight,gallery,image,media_image|}',
					'global' => ScopedAttributeInterface::SCOPE_GLOBAL,
					'visible' => true,
					'required' => false,
					'user_defined' => false,
					'default' => '',
					'searchable' => false,
					'filterable' => false,
					'comparable' => false,
					'visible_on_front' => false,
					'used_in_product_listing' => false,
					'unique' => false,
					'apply_to' => 'configurable',
					'group' => 'Treatments',
			]
	);
