[Desktop Entry]
Name=email
GenericName=Email Application
Icon=email
Type=Application
Categories=Network;Email;
Exec=email %u
Terminal=false
StartupNotify=false
#Actions=GetMail;ComposeMail;SendFile;
Keywords=Email
