[Desktop Entry]
Version=1.0
Type=Application
Name=Ranger
Exec=/bin/sh -c ~/.scripts/xranger.sh %f
Categories=System;FileTools;FileManager;Utility;
MimeType=inode/directory;
