priority -50

snippet _t_skel "Default elm file" b
module ${1:`!p
relpath = os.path.relpath(path)
m = re.search(r'[A-Z][a-zA-Z].+(?=/)', relpath)
if m:
	snip.rv = m.group().replace('/', '.') + "." + snip.basename
`} exposing (${2:..})

${3:import ${4:Xyz}} $0
endsnippet
